<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Githubr · Phoenix Framework</title>
    <!--link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"-->
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <style>
      .repo-card {
        cursor: pointer;
      }

      .repo-card .header {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box !important;
        -webkit-line-clamp: 1; /* number of lines to show */
        -webkit-box-orient: vertical;
      }

      .repo-card .text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        height: 2.5rem;
      }

      .full-repo-card {
        height: 20rem;
      }

      .full-repo-card .text {
        height: 10rem;
      }
    </style>
  </head>
  <body>
    <div class="ui inverted menu">
      <div class="header item">
        <i class="big phoenix framework icon"></i>
        Githubr
      </div>
      <div class="right menu">
        <%= if message = get_flash(@conn, :info) do %>
          <div class="ui info message">
            <p class="alert alert-info" role="alert"><%= message%></p>
          </div>
        <% end %>
        <%= if message = get_flash(@conn, :error) do%>
          <div class="ui error message">
            <p class="alert alert-danger" role="alert"><%= message %></p>
          </div>
      <% end %>
      </div>
    </div>

    <main role="main" class="ui container">
      <%= form_for @changeset, Routes.repository_path(@conn, :sync), [class: "ui form"], fn f -> %>
        <div class="six wide field">
          <label>Language</label>
          <div class="ui action left icon input">
            <i class="search icon"></i>
            <%= select f, :key, select(@languages), class: "ui fluid dropdown" %>
            <button class="ui button teal" onclick="this.classList.add('loading')">Sync</button>
          </div>
        </div>
      <% end %>

      <div class="ui divider"></div>

      <div class="ui grid">
        <div class="three wide column">
          <div class="fluid ui vertical basic buttons">
            <%= for language <- menu(@languages) do %>
              <button class="ui <%= if language.key == @active_language_key do "active" else "" end %> button"
                onclick="window.location.href = '<%= Routes.repository_path(@conn, :index, %{language: language.key}) %>'">
                <%= language.name %>
              </button>
            <% end %>
          </div>
        </div>
        <div class="one wide column"></div>
        <%= @inner_content %>
      </div>
    </main>
  </body>
</html>
